# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/

# Cache
.vite/
.eslintcache

# Cobertura de testes
coverage/

# Variáveis de ambiente locais
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
